<a href="https://colab.research.google.com/github/spe301/Clustering-Automobile-Customers/blob/main/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install Potosnail==0.0.9

Requirement already satisfied: Potosnail==0.0.9 in /usr/local/lib/python3.6/dist-packages (0.0.9)
Requirement already satisfied: scikit-learn==0.22 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (0.22)
Requirement already satisfied: matplotlib>=3.3.2 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (3.3.4)
Requirement already satisfied: imblearn>=0.0 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (0.0)
Requirement already satisfied: xgboost<=1.3.1 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (0.90)
Requirement already satisfied: regex==2020.10.15 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (2020.10.15)
Requirement already satisfied: beautifulsoup4==4.9.3 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (4.9.3)
Requirement already satisfied: statsmodels>=0.12.0 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (0.12.2)
Requirement already satisfied: urllib3==1.25.11 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (1.25.11)
Requirement already satisfied: tensorflow>=2.4.0 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (2.4.1)
Requirement already satisfied: numpy>=1.19.2 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (1.19.5)
Requirement already satisfied: seaborn>=0.11.0 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (0.11.1)
Requirement already satisfied: pandas>=1.1.3 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (1.1.5)
Requirement already satisfied: lxml==4.6.1 in /usr/local/lib/python3.6/dist-packages (from Potosnail==0.0.9) (4.6.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.22->Potosnail==0.0.9) (1.0.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.22->Potosnail==0.0.9) (1.4.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3.2->Potosnail==0.0.9) (7.0.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3.2->Potosnail==0.0.9) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3.2->Potosnail==0.0.9) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3.2->Potosnail==0.0.9) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3.2->Potosnail==0.0.9) (2.8.1)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.6/dist-packages (from imblearn>=0.0->Potosnail==0.0.9) (0.4.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /usr/local/lib/python3.6/dist-packages (from beautifulsoup4==4.9.3->Potosnail==0.0.9) (2.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.12.0->Potosnail==0.0.9) (0.5.1)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (2.4.0)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (1.6.3)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (1.12)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (3.3.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (0.10.0)
Requirement already satisfied: six~=1.15.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (1.15.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (3.7.4.3)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (0.3.3)
Requirement already satisfied: tensorboard~=2.4 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (2.4.1)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (0.2.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (1.12.1)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (1.1.2)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (3.12.4)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (0.36.2)
Requirement already satisfied: grpcio~=1.32.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (1.32.0)
Requirement already satisfied: h5py~=2.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (2.10.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=2.4.0->Potosnail==0.0.9) (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.1.3->Potosnail==0.0.9) (2018.9)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (1.8.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (3.3.3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (0.4.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (2.23.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (53.0.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (1.25.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (3.4.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (1.3.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (2020.12.5)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (4.2.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (4.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (3.4.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->Potosnail==0.0.9) (0.4.8)

In [2]:
from potosnail import *
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

ml = MachineLearning()
dh = DataHelper()
ev = Evaluater()
st = Stats()

def GetTopN(df, var, n):
    dict(df[var].value_counts())
    X = list({v: k for k, v in dict(df[var].value_counts()).items()}.values())[:n]
    y = list({v: k for k, v in dict(df[var].value_counts()).items()}.keys())[:n]
    sns.barplot(X, y);
    plt.show()

def BinaryBarGraph(df, opt1, opt2, var):
    yes = len(df.loc[df[var] == opt1])/len(df)
    no = 1 - yes
    X = [opt1, opt2]
    y = [yes, no]
    sns.barplot(X, y);
    plt.show()
    return 'The sample is {}% {} and {}% {}'.format(int(round(yes*100)), opt1, int(round(no*100)), opt2)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
d1 = pd.read_csv('https://raw.githubusercontent.com/spe301/Clustering-Automobile-Customers/main/Train.csv')
d2 = pd.read_csv('https://raw.githubusercontent.com/spe301/Clustering-Automobile-Customers/main/Test.csv')
df = pd.concat([d1, d2]).drop(['ID', 'Var_1', 'Segmentation'], axis='columns').reset_index()

# How I'm going to go about this...

Scrub: I will clean this data so it can be interpreted by a model

Explore: I will draw insights and visualize the data

Model: build a Clustering model to segment the customers into 5 distinct segments, one for each product

# Scrub
## Filling in NaN values

In [4]:
df['Ever_Married'] = df['Ever_Married'].fillna('No')
df['Graduated'] = df['Graduated'].fillna('No')
df['Profession'] = df['Profession'].fillna('None')
df['Work_Experience'] = df['Work_Experience'].fillna(int(np.mean(df['Work_Experience'])))
df['Family_Size'] = df['Family_Size'].fillna(int(round(np.mean(df['Family_Size']))))
df.isna().sum()

index              0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [5]:
df = df.drop(['index'], axis='columns')
df.head()

   Gender Ever_Married  Age  ... Work_Experience Spending_Score  Family_Size
0    Male           No   22  ...             1.0            Low          4.0
1  Female          Yes   38  ...             2.0        Average          3.0
2  Female          Yes   67  ...             1.0            Low          1.0
3    Male          Yes   67  ...             0.0           High          2.0
4  Female          Yes   40  ...             2.0           High          6.0

[5 rows x 8 columns]

Converting gender, married, and graduated to 0's and 1's. However, I will also keep the original columns for Analysis purposes.

In [6]:
lst = ['Gender', 'Ever_Married', 'Graduated']
keepers = df[lst]

In [8]:
df2 = pd.concat([dh.Binarize(df, lst), keepers], axis='columns')
df2.columns = list(df2.columns)[:-3] + ['Gender_str', 'Married_str', 'Grad_str']
df2.head()

   Gender  Ever_Married  Age  ...  Gender_str Married_str  Grad_str
0       1             1   22  ...        Male          No        No
1       0             0   38  ...      Female         Yes       Yes
2       0             0   67  ...      Female         Yes       Yes
3       1             0   67  ...        Male         Yes       Yes
4       0             0   40  ...      Female         Yes       Yes

[5 rows x 11 columns]

One Hot Encoding Profession, again I will hold onto the original column for Analysis purposes.

In [9]:
df3 = pd.concat([df2, dh.OHE(df2['Profession'])], axis='columns')
df3.head()

   Gender  Ever_Married  Age  Graduated  ... Homemaker  Lawyer Marketing  None
0       1             1   22          1  ...       0.0     0.0       0.0   0.0
1       0             0   38          0  ...       0.0     0.0       0.0   0.0
2       0             0   67          0  ...       0.0     0.0       0.0   0.0
3       1             0   67          0  ...       0.0     1.0       0.0   0.0
4       0             0   40          0  ...       0.0     0.0       0.0   0.0

[5 rows x 21 columns]

Converting Spending Score to numerical data, this time I will drop the original column altogether bceause the data is rankable. (ie. 1 can represent low, 2 average, and so on)

In [10]:
ss = df3['Spending_Score']
scores = []
for i in range(len(ss)):
    if ss[i] == 'Low':
        scores.append(1)
    if ss[i] == 'Average':
        scores.append(2)
    if ss[i] == 'High':
        scores.append(3)
        
df3['Spending_Score'] = scores

In [11]:
df3.head()

   Gender  Ever_Married  Age  Graduated  ... Homemaker  Lawyer  Marketing  None
0       1             1   22          1  ...       0.0     0.0        0.0   0.0
1       0             0   38          0  ...       0.0     0.0        0.0   0.0
2       0             0   67          0  ...       0.0     0.0        0.0   0.0
3       1             0   67          0  ...       0.0     1.0        0.0   0.0
4       0             0   40          0  ...       0.0     0.0        0.0   0.0

[5 rows x 21 columns]

# EDA questions

1. 
2. 
3.